Repository tnaldoza/Marin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'tsc --noEmit', markdownlint --fix

feat: implement todo app
  .gitignore
  commitlint.config.cjs
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/index.ts
  src/main.tsx
  src/types/index.ts
  src/types/sortOptions.ts
  src/types/todo.ts
  src/types/viewTab.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

chore: updated readme
  .markdownlint.json
  README.md
Due: prettier --write, markdownlint --fix

refactor: added components and pages
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/Navbar.tsx
  src/components/Tabs.tsx
  src/components/TodoForm.tsx
  src/components/TodoItem.tsx
  src/components/Toolbar.tsx
  src/components/index.ts
  src/pages/About.tsx
  src/pages/Home.tsx
  src/pages/TodoApp.tsx
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

feat: added themes dark/light mode
  src/App.css
  src/components/Navbar.tsx
  src/contexts/ThemeContext.tsx
  src/main.tsx
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

feat: added recommended vscode settings
  .vscode/deep-purple-theme.json
  .vscode/settings.json
Due: prettier --write

feat: removed old .vscode files
  .vscode/THEME_EXPORT_INSTRUCTIONS.txt
  .vscode/deep-purple-theme.json
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat: backedup styles and updated home
  package.json
  src/index.ts
  src/pages/Home.tsx
  src/styles/App.Main.css
  tsconfig.json
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

Path conditions:
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  bash -c 'tsc --noEmit': any of: *.{ts,tsx,js,jsx}
  markdownlint --fix: any of: *.md
